<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<connectionStrings>
		<!--<add connectionString="metadata=res://*/DAL.csdl|res://*/DAL.ssdl|res://*/DAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.61.38\mssqlserver17;initial catalog=HCM_BONUS_Revamp;persist security info=True;user id=sa;password=Sybr1d123;Connect Timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" name="Sybrid_DatabaseEntities" providerName="System.Data.EntityClient"/>-->
		<add connectionString="metadata=res://*/DAL.csdl|res://*/DAL.ssdl|res://*/DAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.61.38\mssqlserver17;initial catalog=Revamp_UAT;persist security info=True;user id=sa;password=Sybr1d123;Connect Timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" name="Sybrid_DatabaseEntities" providerName="System.Data.EntityClient"/>
		<!--<add connectionString="metadata=res://*/DAL.csdl|res://*/DAL.ssdl|res://*/DAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HCM_BONUS_Revamp_20211213;persist security info=True;user id=sa;password=Sybr1d123;MultipleActiveResultSets=True;App=EntityFramework&quot;" name="Sybrid_DatabaseEntities" providerName="System.Data.EntityClient" />-->
		<!--<add connectionString="metadata=res://*/DAL.csdl|res://*/DAL.ssdl|res://*/DAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.61.38\mssqlserver17;initial catalog=Revamp_UAT;persist security info=True;user id=sa;password=Sybr1d123;MultipleActiveResultSets=True;App=EntityFramework&quot;" name="Sybrid_DatabaseEntities" providerName="System.Data.EntityClient" />-->
		<!--<add connectionString="metadata=res://*/DAL.csdl|res://*/DAL.ssdl|res://*/DAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.61.38\mssqlserver17;initial catalog=HCM_CPBM;persist security info=True;user id=sa;password=Sybr1d123;MultipleActiveResultSets=True;App=EntityFramework&quot;" name="Sybrid_DatabaseEntities" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Threading.Tasks, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<httpRuntime maxRequestLength="90240" requestPathInvalidCharacters="" executionTimeout="108000"/>
		<pages controlRenderingCompatibilityVersion="4.0">
			<controls>
				<add src="~/Controls/Shared/MultipleListBox.ascx" tagPrefix="uc" tagName="ucMultipleListBox"/>
				<add src="~/Controls/EmployeeDetails/ucHcmDetail.ascx" tagPrefix="uc" tagName="ucHcmDetail"/>
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</handlers>
		<modules runAllManagedModulesForAllRequests="true"/>
		<validation validateIntegratedModeConfiguration="false"/>
		<defaultDocument>
			<files>
				<add value="login.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
		<behaviors>
			<endpointBehaviors>
				<behavior name="GLWebAspNetAjaxBehavior">
					<enableWebScript/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="HcmService">
				<endpoint address="" behaviorConfiguration="GLWebAspNetAjaxBehavior" binding="webHttpBinding" contract="HcmService"/>
			</service>
		</services>
	</system.serviceModel>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<appSettings>
		<add key="Root" value="http://localhost:38583"/>
		<add key="Port" value="587"/>
		<add key="clientEnableSsl" value="true"/>
		<add key="UseDefaultCredentials" value="true"/>
		<add key="ATSSenderSMTPServer" value=""/>
		<add key="ATSSenderEmailAddress" value="careers@nayapay.com"/>
		<add key="ATSSenderEmailPassword" value="C@r33rs$6789"/>
		<add key="SenderSMTPServer" value="smtp.gmail.com"/>
		<add key="SenderEmailAddress" value="irfan.muhammad@sybrid.com" />
		<add key="SenderEmailPassword" value="Sybrid1992@" />
		<add key="Displayname" value="" />
		<!--<add key="EmployeeImagePath" value="/Picture/" />
    <add key="SiteId" value="0" />
    <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
    <add key="ReportPathPrefix" value="/Seperation_SSRS/" />
    <add key="ReportPath" value="" />
    <add key="EmployeeLink" value="" /> 
    <add key="ProfileLink" value="Emplyee Profile Link" />
    <add key="HRMSDisplayname" value="HRMS" />
    <add key="EmplyeeProfileLinkSubject" value="Emplyee Profile Link" />
    <add key="BCC" value="" />
    <add key="RootInSybrid" value="" />
    <add key="ADConnectionString" value="" />
    <add key="PasswordExpiration" value="18000" />
    <add key="URL" value="" />
    <add key="ExCvDownloadlink" value="" />
    <add key="InCvDownloadlink" value="" />
    <add key="AdminKhiEmail" value="" />
    <add key="AdminIsbEmail" value="" />-->
	</appSettings>
</configuration>