<table border="0" cellpadding="0" cellspacing="0" align="center" width="800">
    <tr>
        <td colspan="6" style="border-top: #7b7b7b solid thin;">

            <img src="#$1/Images/MasterPage/logo.jpg#$1" />
        </td>
    </tr>
    <tr valign="middle" bgcolor="#3e8eb9" height="25">
        [RequesterInfo]


    </tr>
    <tr>
        <td colspan="6" align="center">
            <img src="#$2/Images/dropshadow.png#$2" />
        </td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" align="center" width="800" style="border: thin solid #eeeeee;">
    <tr height="25">
        <td width="800">
            <table border="0" bordercolor="#6ea2cc" cellpadding="0" cellspacing="0">
                <tr height="25">
                    <td width="800" style="color: #585858; font-family: Calibri; font-size: 14px;" bgcolor="#efefef"><b>&nbsp; [Heading]</b> </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="font-size: 12px; font-family: Calibri;">[RequestDetail] </td>
    </tr>
    <tr>
        <td>
            <table width="800" style="color: #0d6e8c; font-family: Calibri; font-size: 11px;">
                <tr height="30">
                    <td style="color: #333333">This is a system generated email for update the employee profile. Click the appropriate link provided below to process profile and use above mention credential to login the system. </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>[Links]
            <table border="0" cellpadding="0" cellspacing="0">
                <tr height="62">
                    <td width="200" align="center">
                        <img src="#$3/Images/hr-email.png#$3" />

                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table width="800" style="color: #0d6e8c; font-family: Calibri; font-size: 11px;">
                <tr height="30">
                    <td width="40" style="color: #0d6e8c">&nbsp; NOTE: </td>
                    <td style="color: #333333">This is a system generated email, for further queries on this please contact Solution Development Group . </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" align="center" width="800">
                <tr bgcolor="#3e8eb9" height="20">
                    <td width="800" style="color: #ffffff; font-family: Calibri; font-size: 11px; text-align: center">Copyright© 2015 Developed & Maintained by Sybrid Private Limited. All Rights Reserved </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
